extends ../layout

block content
	h1.
		Lista de ONG's Cadastradas
	hr
	br
	table
		thead
			tr
				td Nome
				td Email
				td Area
				td Telefone
				td Ações
		tbody
			each ong, i in onglist
				tr				
					td #{ong.nome}
					td #{ong.email}
					td #{ong.area}
					td #{ong.telefone}
					td
						a(href="/ongs/editar/#{ong._id}") Editar
	hr
	a(href="/ongs") Voltar
